.select {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  appearance: none;
  height: var(--height-component);
  width: 100%;
  padding-left: 1rem;
  padding-right: 2.5rem;
  font-size: var(--font-size);
  line-height: 1.25rem;
  line-height: 2;
  border-width: 1px solid;
  border-color: var(--gray-300);
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
  background-color: var(--white);
  font-weight: 500;
  @include transition(300ms);
  border-radius: var(--rounded-btn, 0.5rem);
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1px + 50%),
    calc(100% - 14px) calc(1px + 50%);
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;

  &:focus {
    color: var(--gray-900);
    background-color: var(--white);
    border-color: var(--blue-400);
    outline: 0;
    box-shadow: 0 0 0.3rem 0rem var(--blue-400);
  }

  &-disabled,
  &[disabled] {
    pointer-events: none;
    opacity: 0.65;
  }

  @each $val in $colors {
    &-#{$val} {
      border-color: var(--#{$val}-400);

      &:focus {
        border-color: var(--#{$val}-500);
        box-shadow: 0 0 0.3rem 0rem var(--#{$val}-500);
      }
    }
  }
}
